<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="kindergartenEntities" connectionString="metadata=res://*/Models.KindergartenEntity.csdl|res://*/Models.KindergartenEntity.ssdl|res://*/Models.KindergartenEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-T4F1G5Q;Initial Catalog=kindergarten;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>